<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <form class="flex flex-col text-center">
      <h2 class="text-xl font-semibold mb-2">Create an Account</h2>
      <p class="mb-4">
        Have an Account?
        <a
          routerLink=""
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-blue-500 hover:underline"
          >Sign In</a
        >
      </p>

      <label for="email" class="text-left text-sm">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter Email Address"
        required
        class="p-2 mb-2 border border-gray-300 rounded-md placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
      />

      <label for="password" class="text-left text-sm">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Create Password"
        required
        class="p-2 mb-2 border border-gray-300 rounded-md placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
      />

      <button
        type="submit"
        (click)="goToRegistrationComplete()"
        class="p-2 mb-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
      >
        Create Account
      </button>
      <p class="mb-4 text-sm">
        By creating account, you agree to our <br />
        <a href="#" class="text-blue-500 hover:underline">Terms of Service</a>.
      </p>

      <hr class="my-4 border-t border-gray-300" />

      <p class="text-sm mb-2">Or create an account using:</p>

      <button
        type="button"
        class="p-2 mb-2 bg-red-500 text-white rounded-md hover:bg-red-600"
      >
        Continue with Google
      </button>
      <button
        type="button"
        class="p-2 mb-2 bg-blue-600 text-white rounded-md hover:bg-blue-700"
      >
        Continue with Facebook
      </button>
    </form>
  </div>
</div>
